/** Not logged into account **/

.account-container {
  position: relative;
  width: 100%;
  @media (width<400px) {
    margin-inline: auto;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 2rem;
  margin: auto;
  max-width: 400px;
  min-height: 100dvh;
  @media (width< 400px) {
    justify-content: start;
    padding-top: 4rem;
    min-height: 70dvh;
  }

  & h2 {
    margin: 0;
  }
}

.login-container form input {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  width: 100%;
}

.login-account,
.create-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.create-account div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.user-status {
  color: var(--accent-red);
}

.primary-button {
  background-color: var(--accent-orange);
  border: none;
  color: var(--white);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  font-weight: 800;
  letter-spacing: 0.08rem;
  transition: ease 0.2s;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.primary-button:hover {
  background-color: var(--white);
  color: var(--bg-color);
  cursor: pointer;
}

.logout {
  margin-top: 1rem;
}

.flip-login * {
}

.flip-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.secondary-button {
  background-color: transparent;
  border: none;
  width: fit-content;
  text-decoration: underline;
  color: var(--accent-orange);
}

.account-details {
  height: 100dvh;
  padding: 1rem;
  background-color: var(--bg-color);
  width: 100%;
}

#Layer_left {
  position: fixed;
  top: 0;
  right: -25%;
  width: 50%;
  fill: var(--accent-orange);
  transform: rotate(20.05deg);
  z-index: -2;
  opacity: 20%;
}
#Layer_right {
  position: fixed;
  top: 0;
  left: -25%;
  width: 50%;
  fill: var(--accent-orange);
  transform: rotate(137.12deg);
  z-index: -2;
  opacity: 20%;
}

/** Logged into account **/

.logged-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  @media (width > 800px) {
    gap: 5rem;
  }
}

.your-welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.your-welcome-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.your-welcome-flex p {
  max-width: 30ch;
}

.your-welcome button {
  width: fit-content;
}

.your-program {
  & h2 {
    margin-left: 1rem;
  }
}

.program-flex,
.ticket-flex {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block: 1rem;

  flex-wrap: wrap;
  width: 100%;

  min-height: 300px;
}

.ticket-flex {
  @media (max-width: 800px) {
    overflow-x: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding-right: 10rem;
  }
}

.ticket {
  display: flex;
  flex-direction: column;
  background-color: #151515;
  color: white;
  justify-content: space-between;
  border: solid 1px white;
  text-transform: uppercase;
  height: 500px;

  @media (max-width: 800px) {
    scroll-snap-align: start;
    scroll-margin-left: 2rem;
  }
}

.ticket-top,
.ticket-bottom {
  padding: 1rem;
}

.ticket-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-foofest {
  font-size: 2.5rem;
  font-weight: bold;
}

#ticket-logo {
  fill: white;
  width: 125px;
  transition: ease 2.5s;
}

.ticket:hover #ticket-logo {
  fill: var(--accent-orange);
}

.ticket-middle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  color: white;
}

.ticket-middle div h3 {
  font-size: 1rem;
  font-weight: normal;
}

.ticket-middle div p {
  font-weight: bold;
}

.ticket-bottom {
  color: #151515;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
}

.no-tickets {
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.your-tickets {
  padding: 1rem;
}

.filters {
  margin-left: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.programh1 {
  margin-left: 1rem;
}
