h2 {
  margin-left: 1rem;
}
.filterbtns {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.2rem;
  select {
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
  }
}

.stageinfo {
  text-align: right;
}
