.artist-list {
  display: flex;
  flex-direction: column;

  border-top: solid 1px var(--white);
  border-right: solid 1px var(--white);
  @media (max-width: 800px) {
    border-right: 0;
    & .stage-details {
      border-right: 0;
    }
  }
  @media (width<800px) {
    border-top: none;
  }
}

.stage-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem 0rem 2rem;
  border-right: solid 1px var(--white);

  & p {
    max-width: 25ch;
  }
  & :first-child {
    margin-bottom: 0.5rem;
    font-size: 1.17em;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  @media (width<800px) {
    padding-bottom: 1rem;
    padding-left: 1rem;
    & p {
      max-width: 50ch;
    }
  }
}

.artist-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0 8rem 0;
  @media (width<800px) {
    padding-bottom: 4rem;
  }
}

@media (width > 800px) {
  .artist-list {
    display: grid;
    grid-template-columns: 350px 3fr;
  }
  .stage-details {
    grid-column: 1/2;
  }
  .artist-details {
    grid-column: 2/3;
  }
}
