.pributton {
  background-color: transparent;
  border: solid 1px var(--white);
  color: var(--white);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  font-weight: 800;
  letter-spacing: 0.08rem;
  transition: ease 0.2s;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: fit-content;
}

.pributton:hover {
  background-color: var(--white);
  color: var(--bg-color);
}
