.pributton {
  background-color: transparent;
  border: solid 1px #fff;
  color: #fff;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  font-weight: 800;
  letter-spacing: 0.08rem;
  transition: ease 0.2s;
  text-transform: uppercase;
}

.pributton:hover {
  background-color: #fff;
  color: #151515;
}
