/* Styling til label */
.radio-label {
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  aspect-ratio: 3/4;
  height: 9rem;
  border: 2px solid var(--white);
  display: grid;
  position: relative;
}
/* Remove default radio button styling */
.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  inset: 0;
  background: var(--bg-color);
}

.radio-label:not([disabled], :has(.custom-radio:checked)):hover {
  box-shadow: inset 0 0 0 #32325d, 0 0 100px -20px #32325d, 0 0 60px -30px #32325d;
  transform: scale(1.01);
  transition: all 0.5s both;
}

.radio-label:has(.custom-radio:checked) {
  border: 2px solid var(--accent-orange);
  box-shadow: 0 0 10px var(--accent-orange);
}
.radio-label:has(.custom-radio[disabled]) {
  opacity: 30%;
}
.radio-label:has(.custom-radio[disabled]):hover {
  transform: none;
}
.radio-label > * {
  grid-area: 1/1/2/2;
}
.area-name {
  align-self: end;
}

.area-few {
  background: var(--accent-orange);
  padding: 3px 4px 0px;
  font-size: 12px;
  /* position: absolute; */
  /* top: 20%; */
  justify-self: start;
  align-self: center;
}
.area-out {
  background: var(--accent-red);
  padding: 3px 4px 0px;
  font-size: 12px;
  align-self: center;
}
.area-too-small {
  background: var(--accent-pink, hotpink);
  padding: 3px 4px 0px;
  font-size: 12px;
  position: absolute;
  top: 35%;
}
/* .radio-label:has(.area-out) {
  opacity: 30%;
}
.radio-label:has(.area-too-small) {
  opacity: 30%;
} */

.spots-left {
  padding: 3px 4px 0px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  background: #666;
}
