.camp-box {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  @media (width > 800px) {
    justify-content: space-between;
  }
}
.choose-camp-wrapper h2 {
  font-size: 40px;
  margin-bottom: 0.5rem;
}
