/* header {
  } */

.header_container {
}
.headerh1 {
  font-size: clamp(1rem, calc(19vw), 40rem);
  margin-left: 1rem;
  color: var(--text-color);
  margin-top: 3.5rem;
}

.teasers {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  max-width: 20rem;
  color: var(--text-color);

  :last-child {
    align-self: start;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.hero-img {
  grid-column: 8/-1;
  object-fit: cover;
}
