/* header {


  } */

header {
  overflow: hidden;
  position: relative;
  & .wave {
    position: absolute;
    fill: var(--accent-orange);
    transform-origin: bottom right;
    scale: 0.5;
    right: -20rem;
    bottom: -1rem;
    transform: rotate(-5deg);
    display: block;
  }
}

.headerh1 {
  font-size: clamp(1rem, calc(19vw), 40rem);
  margin-left: 1rem;
  color: var(--text-color);
  margin-top: 3.5rem;
  position: relative;
  z-index: 1;
}

.teasers {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  max-width: 20rem;
  color: var(--text-color);
  padding-bottom: 1rem;

  :last-child {
    align-self: start;
  }
  @media (width<800px) {
    padding: 0 0 1rem 1rem;
  }
}

.flex {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  flex-wrap: wrap;
  @media (width<800px) {
    padding: 0;
  }
}

.hero-img {
  object-fit: cover;
}
