h1 {
  font-size: 284px;
  margin-block: 0;
  color: #f5f5f5;
}
.headersection {
  display: flex;
  justify-content: space-between;
}
.teasers {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  max-width: 20rem;
  color: #f5f5f5;
}
.ticketLink {
  align-self: start;
  margin-top: 5rem;
  border: 1px solid #f5f5f5;
  padding: 6px 16px;
}
