.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container * {
  color: var(--accent-orange);
}

.time-left {
  display: flex;

  width: 50px;
}

.timer-buttons {
  position: absolute;
  top: 50px;
}
