.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  z-index: 10;
}

.link {
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
}

.nav-ul {
  display: flex;
  list-style: none;
  gap: 0.8rem;
  padding: 0;
}

.moon-btn {
  display: grid;
  place-items: center;
  background: none;
  border: none;
  margin-right: 0.5rem;
  padding: 0;
  height: fit-content;
  cursor: pointer;
}
.rightside {
  display: flex;
  align-items: center;
}
