.moon-btn {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  margin-right: 0.5rem;
  padding: 0;
  height: fit-content;
  cursor: pointer;
}

.nav_container {
  opacity: 1;
  position: sticky;
  background-color: var(--bg-color);
  width: 100%;
  top: 0;
  z-index: 999999;
  & h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
}
.blur {
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 70px;

  z-index: 999;
  display: block;
  opacity: 0;

  pointer-events: none;
  transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
  &.active {
    left: 0;
    opacity: 1;
    transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
  }
}

.nav_container li {
  list-style: none;
}

.nav_container li :hover {
  transition: 0.1s ease;
}

.nav_container Link {
  color: var(--white);
  text-decoration: none;
}

.nav_container .navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav_container .nav-branding {
  display: flex;
  gap: 0.5rem;

  align-items: center;
  font-weight: 700;
  z-index: 99999;

  & svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
  }
  &.active {
    & svg {
      transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
      fill: var(--white);
    }
  }
}

.nav_container .nav-link {
  font-weight: 700;

  font-size: 2rem;
  padding-bottom: 0.5rem;
  &:hover {
    color: var(--accent-blue);
  }
}
.flexshelf {
  z-index: 999999;
}
.nav_container .hamburger {
  display: none;
  cursor: pointer;
  padding-inline: 0.5rem;
  z-index: 999999;
  transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);

  &.active > * {
    background-color: var(--white);
    transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
  }
}
.toggler {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  & svg:not(.bi-cart-fill) {
    fill: var(--white);
    width: 20px;
    height: 20px;
    stroke: white;
    stroke-width: 2px;
    cursor: pointer;

    & path:nth-child(1) {
      opacity: 0%;
      transition: 0.2s ease-in-out;
      .active & {
        opacity: 100%;
        transition: 0.2s ease-in-out;
      }
    }
  }
}
.nav_container .hamburger {
  display: block;
}

.nav_container li {
  list-style: none;

  color: var(--secondary);
}
.diplayBasketNumber {
  position: absolute;
  background-color: var(--accent-orange);
  bottom: 0;
  left: 0;
  color: var(--bg-color);
  font-size: 0.75rem;
  padding: 0.2rem;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.basketContainer {
  position: relative;
}
.basketContainer a {
  display: grid;
}
.basketContainer svg {
  fill: var(--white);
  align-self: end;
}
.nav_container .bar1 {
  display: block;
  width: 25px;
  height: 1.5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}
.nav_container .bar2 {
  display: block;
  width: 25px;
  height: 1.5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}
.nav_container .bar3 {
  display: block;
  width: 25px;
  height: 1.5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

.active .bar2 {
  opacity: 0;
}

.active .bar1 {
  transform: translateY(4px) rotate(45deg);
}

.active .bar3 {
  transform: translateY(-8px) rotate(-45deg);
}

.nav_container .nav-menu {
  padding-top: 5rem;
  position: fixed;
  transform-origin: left;
  right: -120%;
  top: 0;
  gap: 1rem;

  background-color: var(--accent-orange);
  opacity: 100%;
  width: 500px;
  height: 100lvh;
  text-align: center;
  transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
  padding-left: 2rem;
  z-index: 9999;

  @media (width<700px) {
    width: 100vw;
    padding-left: 0rem;
    & > * {
      margin-left: 1rem;
    }
  }

  > * {
    text-align: left;
  }
}

.nav_container .nav-menu.active {
  right: 0;
  transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
}

ul h1,
.nav-item {
  position: relative;
  left: 0rem;
  opacity: 0%;
  transition: 0.8s;
}
.bi-cart-fill {
  opacity: 100%;
}

.nav-menu.active {
  & h1,
  li {
    transition: 0.8s;
    animation-name: fadeLeft;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
    &:nth-child(4) {
      animation-delay: 0.5s;
    }
  }
}

@keyframes fadeLeft {
  from {
    left: 5rem;

    opacity: 0%;
  }

  to {
    left: 0rem;
    top: 0;
    opacity: 100%;
  }
}
.sun {
  width: 20px;
  height: 20px;
  fill: var(--stroke-clr) !important;
}
.newMoon {
  width: 20px;
  height: 20px;
  fill: var(--stroke-clr) !important;
}

.flexshelf {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.slider {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 0%;
  transition: 0.2s ease;
}

.lightModeSwitch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;

  &.active {
    & .slider {
      right: -150%;
      transition: 0.2s ease;
    }
  }
}
