.submitBtn {
  text-transform: uppercase;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-weight: 800;
  font-size: 1.25rem;
  width: fit-content;
  cursor: pointer;
  background-color: var(--white);
  color: var(--bg-color);
  border: var(--bg-color) solid 1px;
  transition: ease 0.2s;
}
.submitBtn:hover {
  background-color: var(--bg-color);
  color: var(--white);
  border: var(--white) solid 1px;
}
.flow-grid {
  display: grid;
}

.btngrid {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 1rem;
}

.participanth3 {
  margin-block: 2rem;
}
