.inputlayout {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.inputlayout input {
  background-color: transparent;
  border: solid 1px var(--white);
  color: var(--white);
  height: 2rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.inputlayout label {
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
}

.formgrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (width > 800px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
  }

  & input {
    padding-block: 1rem;
    padding-left: 0.5rem;
  }
  & label {
    margin-bottom: 0.5rem;
  }
}

.formline h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-block: 2rem;
}

.formbtn {
  justify-self: end;
  align-self: end;
}

.formcontainer {
  margin-bottom: 4rem;
}

.formcontainer input {
  accent-color: white;
}
