.inputlayout {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.inputlayout input {
  background-color: transparent;
  border: solid 1px var(--white);
  color: var(--white);
  height: 2rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.inputlayout label {
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formgrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (width > 800px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
  }

  & input {
    padding-block: 1rem;
    padding-left: 0.5rem;
  }
  & label {
    margin-bottom: 0.5rem;
  }
}

.formline h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-block: 2rem;
}

.formbtn {
  justify-self: end;
  align-self: end;
}

.formcontainer {
  margin-bottom: 4rem;
}

.formcontainer input {
  accent-color: white;
}

.error {
  position: relative;
}
.error::after {
  position: absolute;
  content: "";
  text-transform: initial;
  font-size: 12px;
  font-weight: 600;
  right: 0;
  bottom: 0;
}
/* .error:has(:focus)::after {
  content: "Prutlort";
  color: yellow;
} */
.error:has(+ input:focus)::after {
  content: "Please fill out.";
  color: var(--accent-orange);
}
.error.name:has(+ input:focus)::after {
  content: "Please fill out (only letters)";
  color: var(--accent-orange);
}
.error.email:has(+ input:focus)::after {
  content: "Please fill in your email";
  color: var(--accent-orange);
}
.error.dateage:has(+ input:focus)::after {
  content: "Please fill your age (18+)";
  color: var(--accent-orange);
  font-size: 11px;
}
.error.phone:has(+ input:focus)::after {
  content: "Please fill in (only numbers)";
  color: var(--accent-orange);
  font-size: 10px;
}
.error.address:has(+ input:focus)::after {
  content: "Please fill out your address";
  color: var(--accent-orange);
}
.error.cardnr:has(+ input:focus)::after {
  content: "Please fill out your card nr.";
  color: var(--accent-orange);
}
.error.reg:has(+ input:focus)::after {
  content: "Please fill out your reg nr.";
  color: var(--accent-orange);
}
.error.cvc:has(+ input:focus)::after {
  content: "Please fill out your CVC";
  color: var(--accent-orange);
}
.error.expire:has(+ .dateflex #expiredate:focus)::after {
  content: "Please fill out card's expiration month";
  color: var(--accent-orange);
}
.error.expire:has(+ .dateflex #expiredateyear:focus)::after {
  content: "Please fill out card's expiration year";
  color: var(--accent-orange);
}
