.programh1 {
  font-size: 3rem;
  line-height: clamp(2.81rem, 8.34vw, 6rem);
  margin-left: 1rem;
  margin-top: 1rem;
  @media (width > 800px) {
    font-size: clamp(4rem, 7.9vw, 6rem);
  }
}

.filters {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  @media (width <800px) {
    gap: 0.3rem;
  }
}

main {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
