.recommended-artist-container {
  height: 100%;

  overflow: hidden;
  background-color: white;
  display: grid;
  grid-template-rows: 200px auto;

  & img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}

.recommended-artist {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0.5rem;
}
