input[type="search"] {
  border-radius: 0;
  border: none;
  font-size: 0.7rem;
  padding: 0;
  position: relative;
  height: 24px;
  width: 0%;
  margin-right: -22px;

  transition: 0.3s ease-in-out;
  height: 30px;

  &:focus {
    border-radius: 0;
    outline: 1px solid orange;
  }
}
.searchArea {
  display: flex;
  justify-content: end;
  @media (width>800px) {
    position: relative;
  }
  overflow: hidden;
  transition: 0.3s ease-in-out;

  & svg {
    width: 18px;
    z-index: 1;
    fill: var(--text-color);
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  &.active {
    padding: 0.5rem;

    padding-left: 0rem;
    transition: 0.3s ease-in-out;
    & input {
      width: 100%;
      transition: 0.3s ease-in-out;
      padding-left: 0.5rem;
    }
    & svg {
      fill: var(--bg-color);
      transition: 0.3s ease-in-out;
    }
  }
}

.expanderContainer {
  min-width: 30px;
}

.search {
  @media (width>800px) {
    position: relative;
  }

  width: 100%;

  & ul {
    position: absolute;
    width: 100%;
    padding-left: 0rem;

    & li {
      list-style: none;
      font-size: 0.8rem;
      margin: 0;
      margin-inline: 0.22rem;
      border-bottom: 1px solid var(--bg-color);
      background-color: var(--text-color);
      color: var(--bg-color);

      padding: 0.5rem;
      & .link {
        color: var(--bg-color);
      }

      &.selected,
      &:hover {
        background-color: var(--accent-orange);
        & .link {
          color: var(--text-color);
        }
      }
    }
  }
}

.searchresults {
  @media (width<800px) {
    left: 0;
    & li {
      margin-inline: 0 !important;
      padding: 1rem !important;
    }
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
