.jotunheim {
  --accent-color: var(--accent-orange);
  ::selection {
    background-color: var(--accent-blue);
  }
}
.midgard {
  --accent-color: var(--accent-red);
  ::selection {
    background-color: var(--accent-blue);
  }
}
.vanaheim {
  --accent-color: var(--accent-blue);
  ::selection {
    background-color: var(--accent-orange);
  }
}

.headline {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.singlebg {
  background-color: var(--accent-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    & .singleartistinfo {
      display: contents;

      & p {
        margin-top: 2rem;
        order: 1;
        max-width: none;
      }
    }
    & .headline {
      margin-bottom: 0rem;
      justify-content: space-between;
    }
    & .singlebtn {
      order: 1;
      margin-top: 2rem;
    }

    & .singleinfo {
      /* text-align: left;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: flex-start;
      gap: 1rem; */
      display: grid;
      gap: 0;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      > * {
        border: 1px solid var(--stroke-clr);
        height: 100%;
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      & .singleplaying {
        border-right: 0;
      }
      & .singlegroup {
        grid-column: span 2;
        border-top: 0;
      }
      & :nth-child(2) {
        order: 1;
      }
    }
  }
}

.singleh1 {
  font-size: clamp(2rem, 7.9vw, 6rem);
  line-height: clamp(2.81rem, 8.34vw, 6rem);
}

.singleinfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 2rem;
  align-items: end;
  margin-top: 1rem;
}

.singleartistinfo p {
  max-width: 50ch;
  margin-bottom: 1rem;
  grid-column: 1;
}
.imagecontainer {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  display: grid;

  @media (max-width: 800px) {
    max-height: 300px;
  }
}

#Layer_2 {
  position: absolute;
  top: 0;
  right: -25%;
  width: 50%;
  fill: var(--accent-color);
  transform: rotate(20.05deg);
}
#Layer_3 {
  position: absolute;
  top: 0;
  left: -25%;
  width: 50%;
  fill: var(--accent-color);
  transform: rotate(137.12deg);
}

.singlebtn {
  align-self: end;
  margin-bottom: 1rem;
  margin-top: 4rem;
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 800px) {
    justify-content: flex-start;
  }
}

.myslugimage {
  object-fit: cover;
  align-self: stretch;
  width: 100%;
}
.credits {
  position: absolute;
  font-size: 0.7rem;
  text-align: right;
  transform-origin: right;
  right: 0rem;
  padding: 0.5rem;
  bottom: 0.5rem;
  z-index: 9;
  max-width: 40ch;
  background-color: var(--accent-color);

  & span {
    font-weight: 500;
  }
}
.likeBtnContainer {
  position: absolute;
  transform-origin: right;
  right: 0;
  height: 100px;
  width: 100px;

  .recommended-artist-container & {
    height: 50px;
    width: 50px;

    & h3 {
      color: var(--text-clr);
    }
  }
}
.genrelink {
  position: relative;
}

.genrelink::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.genrelink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
