.thankscontainer {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 2rem;
  gap: 2rem;
  min-height: 100dvh;
  & h2 {
    text-transform: none;
    font-weight: bold;
    font-size: 1.25rem;
    @media (width > 800px) {
      font-size: 2rem;
    }
  }
  & h1 {
    text-align: center;
    font-size: 1.75rem;
    @media (width > 800px) {
      font-size: 4rem;
    }
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  & p {
    @media (width > 800px) {
      font-size: 1.5rem;
    }
  }
}

.thankscontainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cheers {
  margin-bottom: 1rem;
  text-align: center;
}
