.cardframe {
  border: solid var(--white) 1px;
  width: 25rem;
  color: var(--white);
  display: grid;
  padding: 1rem;
}

.cardframe :last-child {
  justify-self: right;
}

.cardframe h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.cardframe p {
  padding-bottom: 1rem;
}
