.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 5rem;
  border-bottom: solid 1px var(--white);
}
.btn_container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.ticketh1 {
  font-size: clamp(2rem, 7.9vw, 6rem);
  line-height: clamp(2.81rem, 8.34vw, 6rem);
}

.areaSection {
  & .areas {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 1rem;

    & .areacard {
      display: grid;
      grid-template-rows: 4fr 1fr;
      overflow: hidden;
      background-color: var(--white);
      height: 300px;

      & h4 {
        color: var(--bg-color);
        height: 100%;
        width: 100%;
        border: 1px solid var(--bg-color);
        display: flex;
        align-items: center;
        padding-left: 1rem;
        text-transform: uppercase;
      }
      & .img_container {
        grid-row: 1;
        overflow: hidden;
        border: 1px solid var(--bg-color);
        border-bottom: none;

        & img {
          object-fit: cover;
        }
      }
    }
  }
}

.PackagesSections {
  min-height: 800px;
  margin-top: 4rem;
  display: grid;
  display: flex;
  gap: 10rem;
  & p {
    max-width: 50ch;
  }

  & .packages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    & .package {
      padding: 1rem;
      background-color: var(--accent-red);
    }
  }
}
