/* rightside */
.area-name {
  padding: 2px 5px;
}
.flow-area {
  grid-column: 2/-1;
  padding: 2rem;
  display: grid;
  place-content: center;
  row-gap: 2.5rem;
  border-left: solid 1px var(--white);
}
.counter-line :is(h3, p, button) {
  font-weight: 400;
  align-self: center;
}

.counter-line :is(button, p) {
  font-size: 1.5rem;
}

.counter-line h3 {
  font-size: 1rem;
}

.counter-line button {
  color: var(--white);
  background: none;
  border: none;
}
.counter-line {
  display: flex;
  justify-content: space-between;
}
.counter {
  display: flex;
  gap: 1rem;
  & p {
    min-width: 26px;
    display: grid;
    place-content: center;
  }
}
.choose-wrapper::after {
  position: absolute;
  content: "";
  color: var(--accent-red);
  font-weight: 600;
  font-size: 14px;
  right: -10px;
  bottom: -20px;
  display: none;
}
.choose-wrapper.tick.showError::after {
  content: "Remove a tentspot first.";
  display: block;
}
.choose-wrapper.ten.showError::after {
  content: "Add more tickets.";
  display: block;
}
.choose-wrapper {
  position: relative;
  display: grid;
  gap: 0.5rem;
}
.choose-wrapper h2 {
  font-size: clamp(1.5rem, 5vw, 6rem);
  margin-bottom: 0.5rem;
}

.buttonError {
  color: var(--accent-red);
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

@media only screen and (min-width: 800px) {
  .sec {
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0;
  }

  .choose-wrapper h2 {
    font-size: 40px;
  }

  .counter-line :is(h3, p, button) {
    font-size: 24px;
  }

  .flow-area {
    row-gap: 1.5rem;
  }
}
