.sec {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.ticket-area {
  grid-column: 1/2;
  border-right: 1px solid var(--white);
  padding: 2rem;
}
.flow-area {
  grid-column: 2/-1;
  padding: 2rem;
}
